---
layout: layouts/base.njk
eleventyNavigation:
  key: Now
  order: 3
---
<div class="box full-height" style="width: 100%;">
  <div class="boxhead">
    <h1>NOW</h1>
  </div>

  <div class="boxbody">
    <p>
     Trying to stay alive. Working on an Alt-Ctrl game with a crank based on the work of <a href="https://tomtilley.net/">https://tomtilley.net/</a>. Trying to actually pay attention to what I'm consuming. Fuck AI. Fuck short form content. Go make something that sucks. Sucking is good (you can quote me on that).
    </p>

    <span>Learn more about Now pages over at 
      <a href="https://nownownow.com/about">https://nownownow.com/about</a>
    </span>
  </div>
</div>