---
layout: layouts/base.njk
eleventyNavigation:
  key: Now 
  order: 3
---
<div class="box" style="width: 100%;">
    <h1>NOW</h1>

    <p>
      Lately I've been doing my best not to be burnt out from my day job. When I'm feeling up to it I'm currently working on a playdate game about worms shooting fish. I still some how manage to participate in some sim racing leagues at least once a week. My current goal is to at least have a few new songs to perform at the open mic in the chiptune space at MagFest.
    </p>

    <span>Learn more about Now pages over at <a href="https://nownownow.com/about">https://nownownow.com/about</a></span>
</div>
