---
layout: layouts/base.njk
eleventyNavigation:
  key: Now
  order: 3
---
<div class="box full-height" style="width: 100%;">
  <div class="boxhead">
    <h1>NOW</h1>
  </div>

  <div class="boxbody">
    <p>
     Probably looking for work. I think I'm gonna quit software engineering thanks to AI. Might try and work as a stagehand or in live audio. Working on an Alt-Ctrl game about cats kneading. Trying to actually pay attention to what I'm consuming. Fuck AI. Fuck short form content. Go make something that sucks. Sucking is good (you can quote me on that).
    </p>

    <span>Learn more about Now pages over at 
      <a href="https://nownownow.com/about">https://nownownow.com/about</a>
    </span>
  </div>
</div>
