---
layout: layouts/base.njk
eleventyNavigation:
  key: Photos 
  order: 4
---

<div id="album-page">
    <div id="left-arrow" class="arrow">
      <img src="/img/album_arrow.png" title="Prev Page" alt="Prev Page">
    </div>
    <div id='board' class="bi">
        <h1 id="board-header">MEMORIES</h1>
        <div id="photos">
            <div id="column-1" class="column column-high">
              <div class="row"></div>
              <div class="row"></div>
            </div>
            <div id="column-2" class="column column-low">
              <div class="row"></div>
              <div class="row"></div>
            </div>
            <div id="column-3" class="column column-high">
              <div class="row"></div>
              <div class="row"></div>
            </div>
        </div>
    </div>
    <div id="right-arrow" class="arrow">
      <img src="/img/album_arrow.png" title="Next Page" alt="Next Page">
    </div>
</div>

<script src="/js/album.js"></script>
