---
layout: layouts/base.njk
eleventyNavigation:
  key: Photos 
  order: 4
---

<div id="album-page">
    <div id='board' class="bi">
        <div id="photos">
        </div>
    </div>
</div>

<script src="/js/album.js"></script>