---
layout: layouts/base.njk
eleventyNavigation:
  key: Photos 
  order: 4
---

<div id="album-page">
    <div id='board' class="bi">
        <div id="photos">
            <div id="column-1" class="column column-high">
              <div class="row"></div>
              <div class="row"></div>
            </div>
            <div id="column-2" class="column column-low">
              <div class="row"></div>
              <div class="row"></div>
            </div>
            <div id="column-3" class="column column-high">
              <div class="row"></div>
              <div class="row"></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/album.js"></script>
