:root {
  --scale: 2
}

#board {
  overflow: hidden;
}

#album-page {
  margin: auto;
}

#album-page > .bi {
  /* height: 500px; */
  /* width: 904px; */
  border: 20px solid black;
  border-image-source: url(/img/album_board.png);
  border-image-slice: 8;
  background-image: url(/img/album_board_bg.png);
}

.photo {
  max-height: 200px;
  border: 8px solid white;
  border-image-slice: 8;
  border-bottom: 0px solid white;
} 

.photo.vertical {
  border-right: 0px solid white;
  border-bottom: 8px solid white;
}

.photo-container .date {
  display: block;
  width: 100%;
  color: black;
  text-align: center;
  margin-top: -8px;
  background-color: white;
  height: 32px;
  border: 8px solid white;
}

.photo-container.vertical {
  display: flex;
  align-items: center;
  margin-left: 4vw;
}

.photo-container.vertical .date {
    display: block;
    color: black;
    transform: translate(-42%, 0px) rotate(-90deg);
    margin-top: 0;
    width: 14.8vw;
}

.column > .row {
  margin: auto;
  padding-top: 30px;
  min-height: 200px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 301px;
  padding: 16px 16px;
}

.column-low {
  margin-top: 60px;
}

#photos {
  display: flex;
}
