/* Defaults */
:root {
  --font-family: Yomogi, -apple-system, system-ui, sans-serif;
  --font-family-header: tif, -apple-system, system-ui, sans-serif;
  --font-family-monospace: Menlo, Consolas, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #c0c0c0;
  --color-gray-90: #333;

  --background-color: #fff;

  --text-color: var(--color-gray-90);
  --text-color-link: #3b6a8f;
  --text-color-link-active: #5f2b48;
  --text-color-link-visited: #17050f;

  --h3-color: #d1d872;
  --h3-shadow: 0 0 10px var(--h3-color);

  --syntax-tab-size: 2;

  --header-img: url("https://cdn.pixabay.com/animation/2023/10/24/13/50/13-50-26-112_256.gif");
  --background-img: url("/images/bg_small.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #c0c0c0;
    --color-gray-90: #dad8d8;

    /* --text-color is assigned to --color-gray-_ above */
    --text-color-link: #57b3ff;
    --text-color-link-active: #9f9fff;
    --text-color-link-visited: #c8c8fa;

    --background-color: #2f5c2e;
  }
}

@media screen and (max-width: 550px) {
  #real-body {
    width: 95vw;
  }
}

.saturate {
  filter: saturate(3);
}
.grayscale {
  filter: grayscale(100%);
}
.contrast {
  filter: contrast(160%);
}
.brightness {
  filter: brightness(0.25);
}
.blur {
  filter: blur(3px);
}
.invert {
  filter: invert(100%);
}
.sepia {
  filter: sepia(100%);
}
.huerotate {
  filter: hue-rotate(180deg);
}
.rss.opacity {
  filter: opacity(50%);
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

p {
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--background-img);
  background-repeat: repeat;
  -webkit-animation: scrolling 7s linear infinite;
  -moz-animation: scrolling 7s linear infinite;
  -o-animation: scrolling 7s linear infinite;
  animation: scrolling 7s linear infinite;
}

@keyframes scrolling {
  from {
    background-position: top 0 right 0;
  }
  to {
    background-position: top 512px right 512px;
  }
}

html {
  overflow-y: scroll;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#header-image h1 {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1.25rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -2px 2px #ef3550, -4px 4px #f48fb1, -6px 6px #7e57c2,
    -8px 8px #2196f3, -10px 10px #26c6da, -12px 12px #43a047, -14px 14px #eeff41,
    -16px 16px #f9a825, -18px 18px #ff5722;
}

#header-image a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.rainbow-letters span:nth-child(10n + 1) {
  color: #ef5350;
}

.rainbow-letters span:nth-child(10n + 2) {
  color: #ab47bc;
}

.rainbow-letters span:nth-child(10n + 3) {
  color: #651fff;
}

.rainbow-letters span:nth-child(10n + 5) {
  color: #3949ab;
}

.rainbow-letters span:nth-child(10n + 4) {
  color: #2196f3;
}

.rainbow-letters span:nth-child(10n + 6) {
  color: #00bcd4;
}

.rainbow-letters span:nth-child(10n + 7) {
  color: #4caf50;
}

.rainbow-letters span:nth-child(10n + 8) {
  color: #ffc107;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-header);
}

h3 {
  color: var(--h3-color);
}

h3 a[href]:visited {
  color: var(--h3-color);
}

p:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.5;
}

li {
  line-height: 1.5;
}

a[href] {
  color: var(--text-color-link);
}

a[href]:visited {
  color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
  color: var(--text-color-link-active);
}

main {
  display: flex;
  overflow: auto;
  align-items: flex-start;
  padding-bottom: 66px;
}

main :first-child {
  margin-top: 0;
}

header {
  border-bottom: 1px dashed var(--color-gray-20);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.links-nextprev {
  list-style: none;
  border-top: 1px dashed var(--color-gray-20);
  padding: 1em 0;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
  margin: 0.5em 0;
  line-height: 1.375;
  /* 22px /16 */
  -moz-tab-size: var(--syntax-tab-size);
  -o-tab-size: var(--syntax-tab-size);
  tab-size: var(--syntax-tab-size);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}

code {
  word-break: break-all;
}

/* Header */
header {
  background-color: var(--background-color);
  display: flex;
  gap: 1em 0.5em;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
}

#header-image {
  background-image: var(--header-img);
  background-size: cover;
  filter: hue-rotate(180deg);
  height: 100px;
  width: 100%;
  background-position-y: 22%;
}

.home-link {
  font-size: 1em;
  /* 16px /16 */
  font-weight: 700;
  margin-right: 2em;
}

.home-link:link:not(:hover) {
  text-decoration: none;
}

/* Nav */
nav {
  width: 100%;
  margin: -30px 0;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav a[href][aria-current="page"] {
  text-decoration: underline;
}

/* Body */
#real-body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
  padding-bottom: 0;
  min-height: 100%;
}

.box {
  margin: 5px;
  border: #443e1c ridge 15px;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(#016929, #477036);
}

.box.music-player {
  padding: 0;
  padding-top: 15px;
}

/* Table of Contents */
.table-of-contents {
  float: right;
  margin: 20px 0px 1.625rem 10px;
  min-width: 256px;
  padding: 5px 15px;
  border-radius: 10px;
  border: #a6a6f8 solid 2px;
  color: pink;
}

.table-of-contents ul {
  color: pink;
}

/* Post */
.post {
  background-color: var(--background-color);
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
}

.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 1em;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--color-gray-90);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700;
  flex-basis: calc(100% - 1.5rem);
  padding-left: 0.25em;
  padding-right: 0.5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-style: italic;
}

.postlist-item > .post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-metadata time {
  margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: 0.1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}

a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: #aaa;
}

h2 {
  --font-family: tif, -apple-system, system-ui, sans-serif;
}

h2 + .header-anchor {
  font-size: 1.5em;
}

.social .boxbody {
  display: flex;
  justify-content: space-evenly;
}

.social img,
.social svg {
  height: 32px;
}

.box .boxhead {
  border-bottom: #aaa dotted 3px;
  text-align: center;
  line-height: 0.1;
}

.box .boxbody {
  padding-top: 15px;
  max-height: 300px;
  overflow: auto;
}

.box.full-height .boxbody {
  max-height: none;
}

.blogpost {
  display: flex;
  align-items: center;
  padding: 10px;
}

.blogpost img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  margin-right: 10px;
}

.blogpost .bloginfo {
  padding: 10px;
}

.blogpost h3 {
  margin: 3px;
}

.bloginfo h3.no-image {
  margin-left: 0;
}

.bloginfo .no-image a {
  padding-left: 0;
}

.boxbody.mostrecent {
  display: flex;
  justify-content: space-evenly;
}

.splitcontainer {
  display: flex;
}

footer .box {
  padding: 0;
  margin-bottom: -25px;
  height: 78px;
}

footer p {
  line-height: 1;
  margin: 3px;
  text-align: center;
}

footer {
  width: 950px;
  margin-top: -66px;
  /* negative value of footer height */
  height: 66px;
  clear: both;
}

.splitcontainer .box.half {
  width: 50%;
}

#webmentions {
  margin: 0;
  position: relative;
  z-index: 100;
  line-height: 1.2em;
}

#webmentions .comments {
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 80%;
}

.post #webmentions h2 {
  border-top: 1px dashed var(--color-gray-20);
}

#webmentions h2 {
  font-size: medium;
  margin: 0;
  padding: 2px;
}

#webmentions .reacts img {
  margin: 3px -1ex 1px 0;
}

#webmentions img.missing {
  background: white;
  border: dashed black 1px;
}

#webmentions ul {
  list-style-type: none;
  margin: 0;
  padding: 4px;
}

#webmentions li {
  text-indent: -1em;
  padding-left: 1em;
}

#webmentions a.reaction {
  position: relative;
  text-decoration: none;
  text-shadow: 0px 0px 3px white;
  margin-right: 0;
  letter-spacing: -1ex;
  margin-right: 1ex;
}

#webmentions a.reaction img {
  max-height: 1.3em;
  width: auto;
  margin-right: -1ex;
  border-radius: 25%;
}

#webmentions a.reaction sub {
  font-size: 50%;
}

#webmentions .comments li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#webmentions .comments li .text {
  font-style: italic;
  text-decoration: none;
}

/* fun stuff */

#chalk {
  position: absolute;
  padding-top: 9px;
  margin-left: 28rem;
}

#here {
  position: absolute;
  margin-top: 19px;
  margin-left: -15.5rem;
}

#cools {
  position: absolute;
  margin-top: 244px;
  margin-left: 34rem;
  rotate: 7deg;
}

#markers {
  position: absolute;
  margin-top: 309px;
  margin-left: .5rem;
}

#hang {
  position: absolute;
  margin-top: 256px;
  margin-left: 12rem;
}

#cat {
  position: absolute;
  margin-top: 259px;
  margin-left: -1rem;
}

#heart {
  position: absolute;
  margin-top: 217px;
  margin-left: -0.25rem;
  rotate: -24deg;
}

@media screen and (max-width: 550px) {
  #real-body {
    padding: 0;
    width: 100vw;
  }

  #header-image h1 {
    letter-spacing: normal;
    font-size: 2.5rem;
  }

  main {
    flex-direction: column;
    width: 100vw;
  }

  main .box {
    width: 100vw;
    margin: 5px 0;
    padding: 15px 7px;
    border: #443e1c ridge 7px;
  }

  main .box .boxbody {
    max-height: none;
  }

  .post img {
    max-width: 82vw;
  }

  .splitcontainer {
    flex-direction: column;
    width: 100vw;
  }

  .splitcontainer .box.half {
    width: 100%;
  }

  .nav {
    height: fit-content;
    text-align: center;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .nav-item {
    flex: 1;
  }

  .nav h3 {
    margin-bottom: 8px;
  }

  footer {
    width: 100vw;
  }

  footer .box {
    height: 90px;
  }
}

@media (prefers-reduced-motion) {
  /* styles to apply if a user's device settings are set to reduced motion */
  html,
  body {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
  }
}
