---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog 
  order: 2
---
<div class="box full-height" style="width: 100%;">
  <div class="boxhead">
    <h1>Blog</h1>
  </div>

  <div class="boxbody">
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </div>
</div>

