---
layout: layouts/home.njk
eleventyNavigation:
  key: Games 
  order: 2
---
<div class="box full-height" style="width: 100%;">
  <div class="boxhead">
    <h1>Games</h1>
  </div>

  <div class="boxbody">
    {% set postslist = collections.games %}
    {% include "postslist.njk" %}
  </div>
</div>
