---
layout: layouts/home.njk
eleventyNavigation:
  key: Games 
  order: 2
---
<div class="box" style="width: 100%;">
  <h1>Games</h1>

  {% set postslist = collections.games %}
  {% include "postslist.njk" %}
</div>
