---json
{
  "permalink": "/human.json",
  "eleventyExcludeFromCollections": true
}
---
{
  "version": "0.1.1",
  "url": "{{ metadata.base }}",
  "vouches": [
    {
      "url": "https://darthmall.net",
      "vouched_at": "2026-05-13"
    }
  ]
}