---
layout: layouts/home.njk
eleventyNavigation:
    key: Home
    order: 1
numberOfLatestPostsToShow: 3
---

{# Main content #}
<div style="flex: 1">
    <div class="box">
        <img id="cat" src="/images/cat.png">
        <div class="boxhead">
            <h2>Welcome</h2>
        </div>
        <div class="boxbody">
            <p>
                Welcome to my mind! Here lives a collection of my games, tutorials, music, and general blogs
                posts.
            </p>
            <p>A bit about me...</p>
            <ul>
                <li>I help run the Indianapolis IGDA chapter</li>
                <li>I love hockey and motor sports</li>
                <li>
                    I'm great at coming up with awfully brilliant fan fiction ideas and
                    titles
                </li>
                <li>A few of my favorite things: Psychonauts, House Of Leaves, Fall Out Boy, What We Do in the Shadows
                </li>
            </ul>
        </div>
        <img id="chalk" src="/images/chalk.png">
    </div>
    <div class="splitcontainer">
        <div class="box half">
            <div class="boxhead">
                <h2>Recent Projects</h2>
            </div>
            <div class="boxbody mostrecent" style="text-align: center;">
                {# List every content page in the project #}
                {% set mostRecentGames = collections.games | reverse | head(4) %}
                {% for mostRecentGame in mostRecentGames %}
                {% set mostRecentGameImgLocation = mostRecentGame.inputPath | inputPathDir %}
                <div class="mostrecent-item">
                    <a href="{{ mostRecentGame.url }}">
                        <h4>{{ mostRecentGame.data.title }}</h4>
                        {% image mostRecentGameImgLocation + "/" + mostRecentGame.data.image, mostRecentGame.data.title,
                        ["100"] %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="box half">
            <img id="here" src="/images/here.png">
            <img id="heart" src="/images/heart.png">
            {% set nowdoing = media.now | getRandom %}
            <div class="boxhead">
                <h2 id="now-title">Now {{ nowdoing.verb }}<h2>
            </div>
            <div class="boxbody" style="text-align: center;">
                <div id="now-image" style="width: 150px; margin: auto;">
                    <img src="{{ nowdoing.image }}" title="{{ nowdoing.name }}" />
                </div>
                <span id="now-name">{{ nowdoing.name }}</span>
            </div>
        </div>
    </div>
    <div class="box">
        <img id="cools" src="/images/cool_s.png">
        {% set postsCount = collections.posts | length %}
        {% set latestPostsCount =
        postsCount | min(numberOfLatestPostsToShow) %}
        <div class="boxhead">
            <h2>Latest Posts</h2>
        </div>
        <div class="boxbody">
            {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
            {% set postslistCounter = postsCount %}
            {% include "postslist.njk" %}
            {% set morePosts = postsCount - numberOfLatestPostsToShow %}
            {% if morePosts > 0 %}
            <p>
                {{ morePosts }} more post{% if morePosts != 1 %}s{% endif %}
                can be found
                in
                <a href="/blog/">the archive</a>.
            </p>
            {% endif %}
        </div>
    </div>
    <div class="splitcontainer">
        <img id="hang" src="/images/hang.png">
        <img id="markers" src="/images/markers.png">
        <div class="box half">
            <div class="boxhead">
                <h2>TO:DO</h2>
            </div>
            <div class="boxbody">
                <ul>
                    {% for item in metadata.todo %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="box half">
            <div class="boxhead">
                <h2>UPDATES</h2>
            </div>
            <div class="boxbody">
                <ul>
                    {% for update in metadata.updates %}
                    <li>{{ update }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="boxhead">
            <h2>Latest Toot</h2>
        </div>
        <div id="mastodon_timeline" class="boxbody">
            <span>LOADING....</span>
        </div>
    </div>
</div>
{# Side Bar #}
<div class="container" style="min-width: 30%; max-width: 30%">
    <div class="box music-player">
        <div class="boxhead">
            <h2>My Music</h2>
        </div>
        <div class="boxbody" style="max-height: fit-content;">
            <iframe width="100%" height="350px" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/7355881&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>
    </div>
    <div class="box">
        <div class="boxhead">
            <h2>Check 'Em Out</h2>
        </div>
        <div class="boxbody" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
            <a href="https://codyclaborn.me/feed/feed.xml"><img src="/images/buttons/rss.gif"></a>
            <a href="https://penguinjaa.com/" target="_blank"><img
                    src="https://penguinjaa.com/images/buttons/neopenguinjaa.gif"></a>
            <a href="https://dimden.dev/"><img src="https://dimden.dev/services/images/88x31.gif"></a>
            <a href="https://aquariumaesthetic.com/"><img
                    src="https://aquariumaesthetic.neocities.org/images/buttons/marisbutton2.gif"></a>
            <a href="https://www.stern32.xyz/"><img src="/images/buttons/stern32.3f2a83b7.gif"></a>
            <a href="https://lostletters.neocities.org/" target="_blank"><img
                    src="/images/buttons/LostLetters88x31.gif" /></a>
            <a href="https://webmentions.neocities.org/" target="_blank">
                <img src="https://webmentions.neocities.org/webmentions.png" id="webmentions-banner">
            </a>
            <a href="https://yesterweb.org/no-to-web3/" target="_blank">
                <img src="/images/buttons/roly-saynotoweb3.gif" id="noweb32">
            </a>
            <script>
                if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
                    document.getElementById("webmentions-banner").src = "https://webmentions.neocities.org/webmentions_anim.gif"
                    document.getElementById("noweb32").src = "/images/buttons/noweb32.gif"
                }
            </script>
        </div>
    </div>
    <div class="box">
        <div class="boxhead">
            <h2>Link Me</h2>
        </div>
        <div class="boxbody" style="display: flex; justify-content: space-evenly;">
            <img src="/images/buttons/cxsquared_button.gif" />
            <textarea rows="2" readonly
                style="width: 88px; resize: none;"><a href="https://codyclaborn.me/" target="_blank"><img src="https://codyclaborn.me/images/buttons/cxsquared_button.gif"></a></textarea>
        </div>
    </div>
    <div class="box">
        <div class="boxhead">
            <h2>CONSUME</h2>
        </div>
        <div class="boxbody" style="display: flex; justify-content: space-evenly;">
            <iframe width="180" height="180" style="border:none" src="https://dimden.neocities.org/navlink/"
                name="neolink"></iframe>
        </div>
    </div>
    <div class="social box">
        <div class="boxhead">
            <h2>Socials</h2>
        </div>
        <div class="boxbody">
            <a rel="me" href="https://mastodon.gamedev.place/@cxsquared" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
                    <path fill="white"
                        d="M480 173.59c0-104.13-68.26-134.65-68.26-134.65C377.3 23.15 318.2 16.5 256.8 16h-1.51c-61.4.5-120.46 7.15-154.88 22.94c0 0-68.27 30.52-68.27 134.65c0 23.85-.46 52.35.29 82.59C34.91 358 51.11 458.37 145.32 483.29c43.43 11.49 80.73 13.89 110.76 12.24c54.47-3 85-19.42 85-19.42l-1.79-39.5s-38.93 12.27-82.64 10.77c-43.31-1.48-89-4.67-96-57.81a108 108 0 0 1-1-14.9a559 559 0 0 0 96.39 12.85c32.95 1.51 63.84-1.93 95.22-5.67c60.18-7.18 112.58-44.24 119.16-78.09c10.42-53.34 9.58-130.17 9.58-130.17m-80.54 134.16h-50V185.38c0-25.8-10.86-38.89-32.58-38.89c-24 0-36.06 15.53-36.06 46.24v67h-49.66v-67c0-30.71-12-46.24-36.06-46.24c-21.72 0-32.58 13.09-32.58 38.89v122.37h-50V181.67q0-38.65 19.75-61.39c13.6-15.15 31.4-22.92 53.51-22.92c25.58 0 44.95 9.82 57.75 29.48L256 147.69l12.45-20.85c12.81-19.66 32.17-29.48 57.75-29.48c22.11 0 39.91 7.77 53.51 22.92q19.79 22.72 19.75 61.39Z" />
                </svg>
            </a>
            <a rel="me" href="https://github.com/cxsquared" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                    <path fill="white"
                        d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2" />
                </svg>
            </a>
        </div>
    </div>
    <div class="box">
        <div class="boxbody" style="padding-top: 0;">
            <div id="webmentions"><span>Loading....</span></div>
        </div>
    </div>
    <div class="box">
        <div class="boxhead">
            <h2>Webring</h2>
        </div>
        <div class="boxbody" style="text-align: center;">
            <a href="https://www.rainbowcemetery.com/devring/list.php?id=0"><img
                    src="https://www.rainbowcemetery.com/devring/88x31.png"></a><br>[<a
                href="https://www.rainbowcemetery.com/devring/prev.php?id=0">&lt;PREV</a> <a
                href="https://www.rainbowcemetery.com/devring/rand.php?id=0">RAND</a> <a
                href="https://www.rainbowcemetery.com/devring/list.php?id=0">LIST</a> <a
                href="https://www.rainbowcemetery.com/devring/next.php?id=0">NEXT&gt;</a> ]
        </div>
    </div>
</div>

<script src="js/nowplaying.js"></script>
<script src="js/mastodon.js"></script>