---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
---
<div class="box" style="width: 100%;">
  <h1>About Me</h1>

  <p>
    Since you've stumbled upon this site I'll tell you a little about myself.
  </p>
  <p>
    My name is Cody.
  </p>
  <p>
    Currently I'm a full time programmer and hobbyist game developer.
  </p>
  <p>
    My main focus is in audio programming and how audio can be made better for video games.
  </p>
  <p>
    Outside of programming I love watching british panel shows, hockey, and pretty much any form of motor sport.
  </p>
  <p>
    Along with watching motor sports I'm frequenly participating in open wheel leages in iRacing. 
 </p>
</div>
