---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
---
<div class="box" style="width: 100%;">
  <h1>About Me</h1>

  Hi! I'm a programmer currently living in Indiana. I'm passionate about video games, music, and how programming intersects the two. Here are the projects I've worked on along with tutorials and other various blog posts.
</div>
