---
layout: layouts/base.njk
---
<div class="box full-height" style="width: 100%;">
  <div class="boxhead">
    <h1>All My Feeds</h1>
  </div>
    <p>
      Stay up to date with my latest posts, games, and tutorials (honestly I probably won't be posting any tutorials anytime soon but who knows).
    </p>

    <ul>
      <li>
        <h2>All</h2>
        <a href="/feeds/all.xml"><img alt="RSS feed for all posts, games, and tutorials" src="https://www.mozilla.org/media/img/trademarks/feed-icon-28x28.e077f1f611f0.png"/></a>
        <p style="display: inline;">Every new post, game, or tutorial</p>
      </li>
      <li>
        <h2>Blog</h2>
        <a href="/feeds/blog.xml"><img alt="RSS feed for just the blog posts" src="https://www.mozilla.org/media/img/trademarks/feed-icon-28x28.e077f1f611f0.png"/></a>
        <p style="display: inline;">Just my blog posts</p>
      </li>
      <li>
        <h2>Games</h2>
        <a href="/feeds/games.xml"><img alt="RSS feed for just the games" src="https://www.mozilla.org/media/img/trademarks/feed-icon-28x28.e077f1f611f0.png"/></a>
        <p style="display: inline;">Just my games</p>
      </li>
      <li>
        <h2>Tutorials</h2>
        <a href="/feeds/tutorials.xml"><img alt="RSS feed for just the tutorials" src="https://www.mozilla.org/media/img/trademarks/feed-icon-28x28.e077f1f611f0.png"/></a>
        <p style="display: inline;">Just my tutorials (or lack thereof)</p>
      </li>
    </ul>
  <div class="boxbody">
  </div>
</div>

