---
layout: layouts/base.njk
---
<div class="post box">
	{# Only include the syntax highlighter CSS on blog posts #}
	{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
	{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
	<h1>{{ title }}</h1>

	<ul class="post-metadata">
		<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
		{%- endfor %}
	</ul>

	{% if game_link %}
	<div id="game-container" style="margin-top: 7px;">
		<iframe id="game" title="{{ title }}" style="border: none;" width="{{ game_width }}" height="{{ game_height }}"
			src="https://codyclaborn.me{{ game_link }}"></iframe>
	</div>
	<p id="mobile-warn" style="display: none;">
		This game is not designed to work on mobile. If you still want to give it a shot go to
		<a href="https://codyclaborn.me{{ game_link }}">
			https://codyclaborn.me{{ game_link }}
		</a>
		.
	</p>
	<div class="links-nextprev" />
	{% endif %}

	{{ content | safe }}

	{%- if collections.games %}
	{%- set previousPost = collections.games | getPreviousCollectionItem %}
	{%- set nextPost = collections.games | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<ul class="links-nextprev">
		{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{%
		endif %}
		{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
	</ul>
	{%- endif %}
	{%- endif %}

	<div id="webmentions"></div>

	{% if comments %}
	<div id="disqus_thread"></div>
	{% disqus page.fileSlug, title, metadata.url + page.url %}

	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
			Disqus.</a></noscript>
	{% endif %}
</div>

<script src="/js/loadgame.js"></script>